.card {
    width: 293px;
    height: 293px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 26px;
  }
  
  .card > img {
    max-width: 300px;
    height: auto;
  }