.footer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 0;
    border-top: 1px solid rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer > p {
    color: rgb(168, 168, 168);
  }

  .footer > p > a:hover {
    color: rgb(80, 80, 80);
  }