.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgb(219, 219, 219);
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .contentHeader {
    width: 975px;
    max-width: 975px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
  }
  
  .btnHeader > button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .title {
    line-height: 1.15;
    font-size: 2rem;
  }